html {
    font-size: 0.9em;
}
label {
    font-size: 1em;
}
body {
    margin: 10px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--surface-a);
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--text-color);
}